.button_{
    border-radius: 50px;
    width: 120px;

    padding: 10px;
   background-color:rgb(44, 44, 205) ;
    color: white;
    /* Set text color to white for better contrast */
}
.btn__{
    justify-content: space-around;
    display: flex;
}
.button_2{
    border-radius: 50px;
    width: 120px;

    padding: 10px;
   background-color:rgb(203, 178, 36) ;
    color: white;
    /* Set text color to white for better contrast */
}
.button_3{
    border-radius: 50px;
    width: 120px;

    padding: 10px;
   background-color:rgb(20, 234, 31) ;
    color: white;
    /* Set text color to white for better contrast */
}
.button_4{
    border-radius: 50px;
    width: 120px;

    padding: 10px;
    background-image: linear-gradient(to bottom right, #6f1c92, #1b91da);
    color: white;
    /* Set text color to white for better contrast */
}